@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Inter:wght@400;600;700&family=Jost:ital,wght@1,300&family=Lato:ital,wght@1,300&family=Merriweather&family=Noto+Sans:ital,wght@1,300&family=Open+Sans:ital,wght@0,300;0,400;1,600&family=Oswald:wght@500&family=Piazzolla:ital,opsz,wght@1,8..30,300&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300;700&family=Rubik+Vinyl&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}