@import "colors";

.dashboard{
    height: 100vh;
    background: linear-gradient(190deg,orange,yellow);
    width: 100%;

    >main{
        height: 100%;
        background-color: white;
        max-width: 900px;
        margin: auto;
        // padding: 2rem;

        >article{
            background-color: $dark;
            // color: white;
            padding: 2rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            >div{
                background-color:white;
                border-radius: 100%;
                text-align: center;
                height: 120px;
                width: 120px;
                padding: 2rem 0;

                >h3{
                    font-size: 1.1rem;
                }

                >p{
                    font-size: 1.1rem;
                    font-weight: bolder;
                    color: grey;
                }
            }
        }

        >section{
            display: flex;
            justify-content: space-between;
            padding: 6rem;

            >div{
                display: flex;
                flex-direction: column;
                width: 50%;
                justify-content: center;
                align-items: center;

                >a{
                    white-space: nowrap;
                    background-color: $dark;
                    color: white;
                    padding: 1rem 2rem;
                    width: 50%;
                    text-align: center;
                    border-radius: 10px;
                    margin: 1rem;
                    font-size: 1rem;

                    &:hover{
                        background-color: chocolate;
                    }
                }
            }

            >aside{
                width: 50%;
            }
        }
    }
}

@media screen and (max-width:600px){
    .dashboard{
        min-height: 100vh;

        >main>section{
            flex-direction: column;
            width: 100%;

            >div{
                width: 100%;

                >a{
                    width: 100%;
                }
            }

            >aside{
                width: 100%;
            }
        }
    }
}