@import "colors";

.profile{
    height: 100vh;
    width: 100%;
    background:linear-gradient(100deg,yellow,grey);

    >main{
        height: 100%;
        width: 50%;
        background-color: white;
        margin: auto;
        display: flex;
        flex-direction:column ;
        align-items: center;
        padding: 4rem;

        >img{
            height: 15rem;
            width: 15rem;
            border-radius: 100%;
            box-shadow: 0 12px 10px rgba(0,0,0,1);
            margin: 2rem;
        }

        >h5{
            font-size: 2.3rem;
            font-weight: bolder;
        }

        >div{
            margin: 2rem;

            >a{
                background-color: $red;
                color: white;
                padding: 1rem 2rem;
                border-radius: 15px;
            }
        }

        >button{
            background-color: $red;
                color: white;
                padding: 1rem 3rem;
                border-radius: 15px; 
                border: none;
                outline: none;
                cursor: pointer;
        }
    }
}

@media screen and (max-width:600px){
    .profile{
        >main{
            width: 100%;
        }
    }
}